{% load static %}


<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a href="{% url 'store:home' %}" title="Facilita Aí!"
               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'base/images/icons/logo/logo.svg' %}" alt="Logo Facilita Aí!" height="60">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'store:home' %}" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                
                {% if request.user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn dropdown-toggle light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                            Olá, <strong>{{ request.user.customer.name.split.0 }}</strong>

                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item "  href="{% url 'account:logout' %}">Logout</a>
                        </div>
                    </div>
                {% else %}
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-primary">Sign-up</button>
                {% endif %}
            </div>

            <div>
                <a class="p-2" href="{% url 'store:cart' %}" title="Your Shopping Cart" style="position: relative">
                    <img src="{% static 'base/images/icons/shopping_cart.png' %}" height="30" alt="Shopping Cart">
                    <p id="quantity_of_items" style="position: absolute;top: -0.8em;right:
                            {% if order.quantity_items <= 9 %}
                                -.3em
                            {% elif order.quantity_items <= 99 %}
                                -.8em
                            {% endif %};
                            color: white; font-weight: normal; ">
                        {{ order.quantity_items }}</p>
                </a>
            </div>
        </div>
    </div>
</header>
<br>
