<!-- Modal -->
<div class="modal fade" id="product-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ product.name }}"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ product.name }}</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col text-center">
                        <img width="270em" height="500em" style="object-fit: cover;"
                             src="{{ product.gallery.productimage_set.all.0.image.url }}"
                             alt="{{ product.gallery.productimage_set.all.0.about }}">
                    </div>
                    <div class="col text-justify">
                        <h3 class="text-center" style="padding-top: 1em">{{ product.name }}</h3>
                        <br>
                        <div>
                            {{ product.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-success">Add to cart</button>
            </div>
        </div>
    </div>
</div>